.link-bg2{
    background-color: #32aeb1;
    text-decoration: none;
}

.link-bg{
    
    text-align: right;
    
}


.link-bg Button{
    background-color: #32aeb1 ;
    text-decoration: none;
    
}
.link-bg Button:hover{
    background-color: #32aeb1 ;
    text-decoration: none;
}