

*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;

}

/* <-------------------------Navbar styling starts-------------------------------> */

.subheader{
  margin-top: 86px;
}
.navstyle{
  text-decoration: none;
  list-style-type: none;
  color:white;
  padding: 8px;
}
/*.navstyle:hover{transition: 0.8s;
  transform: scale(0.9);
  background-color: red;
  outline: 1px solid white;
}*/
.iconDiv{
 width: 20px;
 display: inline-block;
 transition: 0.8s;
}
.iconDiv:hover{transform: scale(2);}

.bg-my-cyan{
   background-color:#32aeb1 ;
}
.logo{
  height:70px;
  border-radius: 40px;
  transition: 2s;
}
.logo:hover{transform: scale(-1);}

.navbar-dark .navbar-nav .nav-link {
    color:white !important;
}
.welTittle{
  visibility: hidden;
  color:white;
  }
.searchbox{
  width: 40% !important;
  transition: 0.8s;
}
.searchbox:hover{width:50% !important; }
.zipcode{
  width:30%;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.btn-link {
  
  color:white!important;
  text-decoration: none!important;
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link
  {
     padding-right: 3rem!important;
     
 }

}
/*login/signup */
.signup:hover,.login:hover{transition: 1s;
  transform: scale(1.1);
  border-radius: 20px;
  border:1px solid white;
  outline:none;}


/* <-------------------------Navbar styling ends-------------------------------> */


/* <-------------------------Carousal styling starts-------------------------------> */


.carousel-item{
  
  height: 100%!important;
  width: 100%;
  padding:1rem;
  
}


/* <-------------------------Carousal styling ends-------------------------------> */
/*<-------------------------home product starts------------------------------->*/
.productImg{
  height:150px;
}
/*<-------------------------home product ends------------------------------->*/
/* <-------------------------Footer styling starts-------------------------------> */
.footer  a{
    color: black !important; 
    text-decoration:none !important;
}
.footer hr{
  width:100%;
  height: 2px !important;
}
.social-media{
 float: right;
}

/* <-------------------------Footer styling ends-------------------------------> */



/* -------------------------Doctor Consultation Page styling starts--------------------  */

.seemore1{
  color: azure!important;
  cursor:default;
  margin-top: 5px;
  margin-bottom: 5px;
}

.seemore2{
  color: azure !important;
  background-color: rgb(29, 149, 230) !important;
  border: none;
  cursor:default;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* -------------------------Doctor Consultation Page styling ends--------------------  */
/* -------------------------Healthcamp Page styling starts--------------------  */
.card-img-top{
  height: 250px;
  border-radius: 5px 5px 0 0;
}
.card {
/* Add shadows to create the "card" effect */
box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);

}
.descDiv{
 height:145px;
}
/* -------------------------Healthcamp Page styling starts ends--------------------  */