

*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}

/* <-------------------------Navbar styling starts-------------------------------> */


.searchbox{
  width: 50vw;
}


.carousal-photo{
  /* height: 50%; */
  /* margin-top:25px; */
  height: 30%;
  width: 100%;
  /* border-radius: 5px; */
  /* border: 1px solid skyblue; */
}







